{erl_opts, [debug_info]}.
{deps, [
  telemetry
]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info, nowarn_export_all]},
        {deps, [
            meck,  %% For mocking in unit tests
            proper  %% For property-based testing
        ]},
        {ct_opts, [
            {dir, "test/integration"},
            {dir, "test/system"},
            {logdir, "logs"},
            {cover_enabled, true},
            {cover_opts, [verbose]}
        ]},
        {eunit_opts, [
            verbose,
            {report, {eunit_surefire, [{dir, "test/results"}]}}
        ]}
    ]}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{relx, [{release, {semp, "0.1.0"}, [semp]}]}.
{shell, [
    %% {config, "config/sys.config"},
    {apps, [semp]}
]}.
{shell, [{apps, [trust_dist]}]}.
